<div id="form-template">
  <h5>New Dosage</h5>
  <!-- create an empty dosage object to work with -->
  <% @dosage = Dosage.new %>
  <!-- now the form template itself -->
  <div class="row">
    <div class="col">
      <%= simple_form_for(@dosage) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="form-inputs">
            <%= f.input :medicine_id, collection: Medicine.for_animal(@pet.animal.id).active.alphabetical.to_a, include_blank: true %>
            <%= f.input :units_given, label_html: { class: 'active' } %>
            <%= f.input :discount, label_html: { class: 'active' } %>
            <%= f.input :visit_id, as: :hidden, input_html: { value: @visit.id } %>
          </div>
        </div>
        <div class="row">
          <div class="form-actions col">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>